# env variables used in database service
#
# root user credentials
MYSQL_ROOT_PASSWORD=password123


# env variables also used in nextcloud app service
# nextcloud user credentials
MYSQL_USER=nextcloud
MYSQL_PASSWORD=password123