# nextcloud allowed domains
NEXTCLOUD_TRUSTED_DOMAINS=127.0.0.1 localhost 192.168.1.100 example.com

# proxy allowed domains
VIRTUAL_HOST=127.0.0.1,localhost,192.168.1.*,example.com

LETSENCRYPT_HOST=example.com
LETSENCRYPT_EMAIL=user@example.com