# env variables used in nextcloud web nginx service
#
# nextcloud allowed domains
NEXTCLOUD_TRUSTED_DOMAINS=127.0.0.1 localhost 192.168.1.100 example.com

# proxy allowed domains
VIRTUAL_HOST=127.0.0.1,localhost,192.168.1.*,example.com

# settings for letsencrypt companion
LETSENCRYPT_HOST=example.com
LETSENCRYPT_EMAIL=admin@example.com



# env variables used in omgwtfssl service
# settings for self signed certificate ONLY
SSL_SUBJECT=example.com
CA_SUBJECT=cloud@example.com
SSL_KEY=/certs/example.com.key
SSL_CSR=/certs/example.com.csr
SSL_CERT=/certs/example.com.crt