# env variables used in postfix service
# postfix credentials
maildomain=example.com
smtp_user=cloud:strongpassword



# env variables used in nextcloud app service
# nextcloud credentials for usage with postfix
#
# postfix client login
SMTP_NAME=cloud@example.com
SMTP_PASSWORD=strongpassword

# nextcloud mail settings
MAIL_FROM_ADDRESS=cloud
MAIL_DOMAIN=example.com